{
  "presets": [
    [ "env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": [ "last 2 versions", "not ie <= 8" ]
      },
      "exclude": [ "transform-es2015-typeof-symbol" ]
    } ]
  ],
  "plugins": [
    [ "transform-object-rest-spread", { "useBuiltIns": true } ],
    "external-helpers",
    "transform-class-properties",
    [ "transform-runtime", { "helpers": false, "polyfill": false } ]
  ],
  "comments": false
}
